.employees__div__right {
    display: flex;
    justify-content: end;
}

.employees__button {
    border: 1px solid;
    border-radius: 1rem;
}

.employees__button__add {
    border-color: green;
    color: green;
    margin-bottom: 15px;
    transition: 0.3s;
}

.employees__button__add:hover {
    background-color: green;
    color: white;
    transition: 0.3s;
}

.employees__button__delete {
    border-color: red;
    color: red;
    transition: 0.3s;
}

.employees__button__delete:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}